[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
python-dotenv = "*"
tqdm = "*"
scikit-learn = "*"
tenacity = "*"
openai = "==0.27.8"

[dev-packages]

[requires]
python_version = "3.10"
